<?xml version="1.0"?>

<model>
  <name>MobileARM</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>TIEN-YUN CHI</name>
  </author>

  <description>
    MobileARM
  </description>

  <config>
    <nrf_joints>6</nrf_joints>
    <nrf_positions>6</nrf_positions>
    <nrf_postures>3</nrf_postures>
    <init_joints>0. 0. 0. 0. 0. 0.</init_joints>
    <define_postures>1 3 5</define_postures>
    <nrf_segments>6</nrf_segments>
    <segment id = "1">
      <joint type = "r" axis = "z">
        <lower>-2.967</lower>
        <upper>2.967</upper>
      </joint>
      <vector>0. 0.075 0.</vector>
      <rotate>90. 0. 90.</rotate>
    </segment>
    <segment id = "2">
      <joint type = "r" axis = "z">
        <lower>-1.4835</lower>
        <upper>2.2689</upper>
      </joint>
      <vector>0. 0.270 0.</vector>
      <rotate>0. 0. 90.</rotate>
    </segment>
    <segment id = "3">
      <joint type = "r" axis = "z">
        <lower>-1.919</lower>
        <upper>2.967</upper>
      </joint>
      <vector>0.090 0. 0.</vector>
      <rotate>90. 0. 0.</rotate>
    </segment>
    <segment id = "4">
      <joint type = "r" axis = "z">
        <lower>-3.316</lower>
        <upper>3.316</upper>
      </joint>
      <vector>0. 0. 0.295</vector>
      <rotate>-90. 0. 0.</rotate>
    </segment>
    <segment id = "5">
      <joint type = "r" axis = "z">
        <lower>-2.1816</lower>
        <upper>2.1816</upper>
      </joint>
      <vector>0. 0. 0.</vector>
      <rotate>90. 0. 0.</rotate>
    </segment>
    <segment id = "6">
      <joint type = "r" axis = "z">
        <lower>-6.28</lower>
        <upper>6.28</upper>
      </joint>
      <vector>0. 0. 0.102</vector>
      <rotate>0. 0. 0.</rotate>
    </segment>
  </config>
</model>
